.home_bg {
    width: 100%;
    height: 20rem;
    display: flex;
    background-size: cover;

}

.home_bg_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(90deg, rgb(0 0 0 / 55%), rgb(75 75 75 / 77%), rgb(174 168 168 / 0%));
}

.sign_card {
    margin: auto;
    width: 60%;
}

.sign_form_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign_card_foot {
    cursor: pointer;
    text-align: center;
}

.create_event_root {
    width: 70%;
    margin: auto;
}

.toast {
    position: sticky;
    top: 1px;
    bottom: 1px;
}

/* Event Show styles begins */
.event_banner {
}

.event_banner_title {
    font-weight: 100;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: solid 1px #00000030;
}

.event_desc {
    margin-top: 1em;
}

.event_nav_header {
    margin-bottom: 1em;
}

.event_date {
    display: flex;
    flex-direction: column;
}

.speaker_intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.event_speaker_name {
    font-weight: lighter;
    font-size: larger;
}

.event_speaker_title {
    color: #696a6a;
    font-size: x-small;
}

.event_speaker_avatar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.event_speaker_bio {
    font-size: smaller;
}

@media (max-width: 576px) {
    .event_banner {
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .event_banner {}
}

@media (min-width: 992px) {
    .event_banner {}
}
/* Event Show styles ends */