.home_bg {
    width: 100%;
    height: 20rem;
    display: flex;
    background-size: cover;

}

.home_bg_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(90deg, rgb(0 0 0 / 55%), rgb(75 75 75 / 77%), rgb(174 168 168 / 0%));
}

.sign_card {
    margin: auto;
    width: 60%;
}

.sign_form_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign_card_foot {
    cursor: pointer;
    text-align: center;
}

.create_event_root {
    width: 70%;
    margin: auto;
}

.toast {
    position: sticky;
    top: 1px;
    bottom: 1px;
}

/* Event Show styles begins */
.event_banner {
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.event_banner_title {
    height: 100%;
    backdrop-filter: brightness(0.3);
    font-weight: 100;
    font-size: xx-large;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event_desc {
    padding: 10px;
}

.event_nav_header {
    background: linear-gradient(180deg, #4a4a4b, #f8f8f800);
}

.event_date {
    display: flex;
    flex-direction: column;
}

@media (max-width: 576px) {
    .event_banner {
        height: 40vh;
        background-size: 100vw 40vh;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .event_banner {}
}

@media (min-width: 992px) {
    .event_banner {}
}
/* Event Show styles ends */