.home_bg {
  width: 100%;
  height: 20rem;
  display: flex;
  background-size: cover;
}

.home_bg_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(
    90deg,
    rgb(0 0 0 / 55%),
    rgb(75 75 75 / 77%),
    rgb(174 168 168 / 0%)
  );
}

.sign_card {
  margin: auto;
  width: 60%;
}

.sign_form_foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign_card_foot {
  cursor: pointer;
  text-align: center;
}

.create_event_root {
  width: 70%;
  margin: auto;
}

.toast {
  position: sticky;
  top: 1px;
  bottom: 1px;
}

/* Event Show styles begins */
.event_show_root {
  max-width: 900px;
  margin: 0em auto;
}

.date_icon {
  align-items: baseline;
}

.event_banner_title {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: solid 1px #00000030;
}

.event_desc {
  margin-top: 1em;
}

.event_logo {
  display: flex;
  justify-content: space-around;
}

.event_nav_header {
  margin-bottom: 1em;
}

.event_date {
  display: flex;
  flex-direction: column;
}

.event_ticket_nav {
  background-color: #f5455c;
  max-width: 900px;
  margin: auto;
}

.event_speaker_row {
  align-items: center;
}

.event_speaker_name {
  font-weight: lighter;
  font-size: x-large;
}

.event_speaker_title {
  color: #696a6a;
  font-size: x-small;
}

.event_speaker_avatar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.event_speaker_bio {
  font-size: smaller;
}

@media (max-width: 576px) {
  .speaker_intro {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .speaker_intro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }
  .event_speaker_name {
    font-size: x-large;
  }
}

@media (min-width: 990px) {
  .event_show_root {
    margin: 1em auto;
  }
  .speaker_intro {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }
  .event_speaker_name {
    font-size: xx-large;
  }
}
/* Event Show styles ends */

/* Admin Dashboard style begins */

.admin_event_list {
  margin: auto;
  width: 90vw;
}

.admin_event_item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.speaker_add_btn {
  align-items: flex-end;
  margin-bottom: 0.75em;
}

.event_speaker_delete {
  display: flex;
  justify-content: flex-end;
}

/* Admin Dashboard style ends */

/* Conference Greenroom Style Begins */

.dayofevent_wrapper {
  display: flex;
  height: calc(100vh);
  background-color: #3e3030;
  margin-bottom: -3rem;
  flex-direction: column;
}

.dayofevent_button {
  margin: auto;
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.greenroom_button_text {
  font-size: small;
}

.greenroom_jitsi {
  display: flex;
}

.deviceButton {
  position: fixed;
}

/* Conference Greenroom Style Ends */
