.greenroom_page_wrapper {
  display: flex;
  flex-direction: row;
}

.greenroom_page_video {
  width: 100%;
}

@media (max-width: 900px) {
  .greenroom_page_wrapper {
    flex-direction: column;
  }
  .greenroom_page_chat {
    margin: auto;
    width: 90%;
  }
}

@media (min-width: 900px) {
  .greenroom_page_chat {
    margin-right: 1%;
    margin-top: 0.7em;
    max-width: 30%;
  }
}
