.device {
  margin-top: 5em;
}

.view {
  margin-top: 5em;
  margin-left: 17px;
}

.streamButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.deviceButton {
  display: flex;
  margin-top: 10px;
}

.jitsiContainer {
  display: flex;
  margin-top: 1em;
  height: 70vh;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@media (max-width: 790px) {
  .jitsiContainer {
    height: 50vh;
  }
}

.log {
  display: flex;
  flex-direction: column-reverse;
  white-space: nowrap;
  overflow: auto;
}

.dayofeventleft_button {
  margin: auto;
  /* left: 25px;
  bottom: 25px; */
  display: flex;
  align-items: center;
  width: 90%;
}

.gtoolbar_button {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gtoolbar_button_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 10px 10px;
}

.gtoolbar_button_set {
  display: flex;
  flex-direction: row;
}

@media (max-width: 790px) { 
  .dayofeventleft_button {
    bottom: 75px;
    position: fixed;
    z-index: 10;
  }
 }

@media (min-width: 830px) {
  .device {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .view {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
