.mainstage_page_wrapper {
    display: flex;
    flex-direction: row;
}

.mainstage_page_video {
    width: 100%;
}

@media (max-width: 900px) {
    .mainstage_page_wrapper {
        flex-direction: column;
    }
    .mainstage_page_chat {
        margin: auto;
        width: 90%;
    }
}

@media (min-width: 900px) {
    .mainstage_page_chat {
        margin-right: 1%;
        margin-top: 0.7em
    }
}
/* css to align the side_button in the center in the leftmost of screen */
.side_button {
    top: 40%;
    left: 0;
    position: absolute;
}