.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(195, 195, 195, 0.781);
  border-radius: 8px;
  padding: 2rem 3rem;
}

.authOptions {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  text-align: center;
}

.authOption {
  padding: 0.5rem 2rem;
  margin-right: 1rem;
}

.authOption:last-child {
  margin-right: 0;
}

.form {
  padding: 1rem;
  width: 100%;
}

.inputGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 0.5rem;
  border: 1px solid rgba(195, 195, 195, 0.781);
  border-radius: 4px;
  margin-top: 0.5rem;
}

.submit {
  margin-top: 1rem;
  width: 100%;
}
