NEXT_PUBLIC_EVENT_SERVER_URL=http://127.0.0.1:8000
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_IPINFO_TOKEN=
NEXT_PUBLIC_SERVER_STREAM_LINK0=
NEXT_PUBLIC_SERVER_STREAM_LINK1=
LOCALIZE_SPEAKER_IMAGES=false
EVENT_USER_PASSPHRASE=change-me
NEXT_PUBLIC_EVENT_ADMIN_MAIL=
