# docker-compose.yml

version: "3"

services:
  app:
    image: docker-nextjs-dev
    build:
      dockerfile: Dockerfile.development
    ports:
      - "3000:3000"
    networks:
      - spnet
      - oesnet
    volumes:
      - ./pages:/app/pages
      - ./public:/app/public
      - ./styles:/app/styles

networks:
  spnet:
    external: true
  oesnet:
    external: true
